@{ 
    ViewBag.Title = "eycahanliqdi";
    slide1 header2 = ViewBag.header2;

}







<div id="c1" style="background:url(@header2.photourl)">
    <div class="c2">
        <h1>@header2.soz1</h1>
        <h4>@header2.soz2</h4>
    </div>
</div>










<div id="d1">
    <div class="d2">
        <p>MADE THE HARD WAY</p>
        <h5>FEATURED CATEGORIES</h5>
        <h6>Basel & Co. is a powerful eCommerce theme for Shopify. Visit our shop page to see all main features for Your Store</h6>
    </div>
</div>







<div id="e1">
    <div class="container">
        <div class="e2 d-flex">
            <a href="/canta/canta"> <img width="1630vh" src="~/newfinal/foto/cat-bag-5_377x.jpg" class="img-fluid" alt="">  </a>

            <a href="/saat/saat/"> <img width="789vh" src="~/newfinal/foto/cat-watch-2_570x.jpg" class="img-fluid" alt="">  </a>


            <div class="e3 ">
                <a href="/ayaqabi/ayaqabi/"> <img height="50%" src="~/newfinal/foto/boot-category-1-3-min_900x.jpg" class="img-fluid" alt=""></a>

                <a href="/woman/woman"> <img width="50vh" src="~/newfinal/foto/wooman-cat_570x.jpg" class="img-fluid" alt=""></a>

            </div>



        </div>
    </div>

</div>


<div id="q1">
    <div class="container">
        <div class="q2 navbar">

            @foreach (sati saxtaad in ViewBag.satis2)
            {
                <div class="q7">
                    <a href="/cart/cart"> <img height="400px" src="@saxtaad.photourl" alt=""> </a>

                    <p>@saxtaad.soz1</p>
                    <h6>@saxtaad.qiymet</h6>
                </div>
            }




        </div>

        



       


    </div>
</div>





<div id="w1">
    <div class="w2">
        <p>Connect to Basel & Co.</p>
        <h1>Join Our Newsletter</h1>
        <p>Hey you, sign up it only takes a second to be the first to find out about our latest news and promotions… </p>
    </div>
</div>





<div id="r1">
    <div class="container">
        <div class="r2 d-flex">
            <div class="r3">
                <img height="70%" style="width: 100%;" src="~/newfinal/foto/ik1.png" alt="">
                <h5>musteri memnunyet</h5>
                <p>BU SAYTDAN ALIS VERIS ETDIM COX MEMNUN OLDUM MENIM MEHSULUMU VAXTINDA CATIRDILAR</p>


            </div>
            <div class="r3">
                <img height="70%" style="width: 100%;" src="~/newfinal/foto/ruyada-insan-gormek-001.jpg" alt="">
                <h5>musteri memnunyet</h5>
                <p>BU SAYTDAN ALIS VERIS ETDIM COX MEMNUN OLDUM GULERUZ ISCILERI VAR</p>


            </div>
            <div class="r3">
                <img height="70%" style="width: 100%;" src="~/newfinal/foto/600x314-insan-kaynagina-yatirim-1582664596880.jpeg" alt="">
                <h5>musteri memnunyet</h5>
                <p>BU SAYTDAN ALIS VERIS ETDIM COX MEMNUN OLDUM</p>

            </div>


        </div>


    </div>
</div>







<div id="t1">
    <div class="t2">
        <img src="~/newfinal/foto/logo-basel.svg" alt="">
        <h6>MINIMALISTIC AJAX E-COMMERCE THEME</h6>
        <p>Adipiscing dignissim euismod ad venenatis volutpat sociis feugiat purus ridiculus rhoncus nullam sodales euismod ad venenatis volutpa ridiculus. </p>
        <button>purchase bael</button>
    </div>
</div>







<div id="y1">
    <div class="container">
        <div class="y2">
            <h5>WHAT THEY SAY ABOUT US </h5>
            <img src="~/newfinal/foto/testimonial2-1-100x100_100x100.progressive.jpg" alt="">
            <p>Fringilla iaculis ante torquent a diam a vestibulum diam nisi augue dictumst parturient a vestibulum tortor viverra inceptos adipiscing nec a ullamcorper.Ullamcorper aliquam rutrum.</p>

        </div>
    </div>







</div>







<div id="u1">
    <div class="u2 d-flex">
        <img style="height: 60px;" src="~/newfinal/foto/visa_logo-removebg-preview.png" class="img-fluid" alt="">



    </div>


</div>






